<!--
	Display current logged in user profile data and social network accounts. 
-->
<div id="my-account" class="content-area">
	<div class="row">
		<div class="col-xs-9 col-sm-4">
			<img ng-src="{{myAccount.imageUrl}}" class="img img-portrait" /> <br />
			<span ng-show="myAccount.admin" class="label label-info">ADMIN</span>
			<span ng-show="myAccount.author" class="label label-info">AUTHOR</span>
			<span ng-show="myAccount.trustedAccount" class="label label-success">Trusted</span>
			<span ng-show="myAccount.accountLocked" class="label label-warning">Locked</span>
		</div>

		<div class="col-xs-9 col-sm-5">
			<dl class="dl-horizontal">
				<dt>Display Name:</dt>
				<dd>{{myAccount.displayName}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Email Address:</dt>
				<dd>{{myAccount.email}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Web Site:</dt>
				<dd>
					<a href="{{myAccount.webSite | ExternalURL}}" target="_blank">{{myAccount.webSite}}</a>
				</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt></dt>
				<dd>
					<button ng-click="editProfile()" class="btn btn-primary">Edit</button>
				</dd>
			</dl>
			<p></p>

		</div>
	</div>

	<hr />
	<h2>My Social Connections</h2>
	<div>
		<table class="table table-striped table-bordered bootstrap-datatable">
			<tbody>
				<tr>
					<!-- Google+ -->
					<td><a rel="tooltip" title="Google+">Google+</a></td>
					<td>
						<div ng-show="!myAccount.socialConnections['google']">
							<form action="connect/google" method="POST">
								<input type="hidden" name="scope" value="profile%20email" />
								<button type="submit" class="btn btn-default"><i class="fa fa-google-plus"></i> Connect with Google</button>
							</form>
						</div>
						<div ng-show="myAccount.socialConnections['google']">
							<a ng-href="{{myAccount.socialConnections['google'].profileUrl}}" target="_blank">
								<img ng-src="{{myAccount.socialConnections['google'].imageUrl}}" class="img dashboard-member-activity-avatar" />
								{{myAccount.socialConnections['google'].displayName}}
							</a>
							<div class="comment-toolbar" ng-show="myAccount.imageUrl !== myAccount.socialConnections['google'].imageUrl">
								<button ng-click="useSocialImage('google')"> 
									<i class="fa fa-google-plus-square"></i>
									Use Google+ Image
								</button>
							</div>
						</div>

					</td>
				</tr>
				<tr>
					<!-- Facebook -->
					<td><a rel="tooltip" title="Facebook">Facebook</a></td>
					<td>
						<div ng-show="!myAccount.socialConnections['facebook']">
							<form action="connect/facebook" method="POST">
								<button type="submit" class="btn btn-default"><i class="fa fa-facebook"></i> Connect with Facebook</button>
							</form>
						</div>
						<div ng-show="myAccount.socialConnections['facebook']">
							<a ng-href="{{myAccount.socialConnections['facebook'].profileUrl}}" target="_blank">
								<img ng-src="{{myAccount.socialConnections['facebook'].imageUrl}}" class="img dashboard-member-activity-avatar" /> 
								{{myAccount.socialConnections['facebook'].displayName}}
							</a>
							<div class="comment-toolbar" ng-show="myAccount.imageUrl !== myAccount.socialConnections['facebook'].imageUrl">
								<button ng-click="useSocialImage('facebook')"> 
									<i class="fa fa-facebook-square"></i>
									Use Facebook Image
								</button>
							</div>
						</div>

					</td>
				</tr>

				<tr>
					<!-- Twitter -->
					<td><a rel="tooltip" title="Twitter">Twitter</a></td>
					<td>
						<div ng-show="!myAccount.socialConnections['twitter']">
							<form action="connect/twitter" method="POST">
								<button type="submit" class="btn btn-default"><i class="fa fa-twitter"></i> Connect with Twitter</button>
							</form>
						</div>
						<div ng-show="myAccount.socialConnections['twitter']">
							<a ng-href="{{myAccount.socialConnections['twitter'].profileUrl}}" target="_blank">
								<img ng-src="{{myAccount.socialConnections['twitter'].imageUrl}}" class="img dashboard-member-activity-avatar" /> 
								{{myAccount.socialConnections['twitter'].displayName}}
							</a>
							<div class="comment-toolbar" ng-show="myAccount.imageUrl !== myAccount.socialConnections['twitter'].imageUrl">
								<button ng-click="useSocialImage('twitter')"> 
									<i class="fa fa-twitter-square"></i>
									Use Twitter Image
								</button>
							</div>
						</div>

					</td>
				</tr>
				
				<tr>
                    <!-- LinkedIn -->
                    <td><a rel="tooltip" title="LinkedIn">LinkedIn</a></td>
                    <td>
                        <div ng-show="!myAccount.socialConnections['linkedin']">
                            <form action="connect/linkedin" method="POST">
                                <button type="submit" class="btn btn-default"><i class="fa fa-linkedin"></i> Connect with LinkedIn</button>
                            </form>
                        </div>
                        <div ng-show="myAccount.socialConnections['linkedin']">
                            <a ng-href="{{myAccount.socialConnections['linkedin'].profileUrl}}" target="_blank">
                                <img ng-src="{{myAccount.socialConnections['linkedin'].imageUrl}}" class="img dashboard-member-activity-avatar" /> 
                                {{myAccount.socialConnections['linkedin'].displayName}}
                            </a>
                            <div class="comment-toolbar" ng-show="myAccount.imageUrl !== myAccount.socialConnections['linkedin'].imageUrl">
                                <button ng-click="useSocialImage('linkedin')"> 
                                    <i class="fa fa-linkedin-square"></i>
                                    Use LinkedIn Image
                                </button>
                            </div>
                        </div>

                    </td>
                </tr>

			</tbody>
		</table>

	</div>

</div>
