<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
<title>Welcome to Jiwhiz Blog Website</title>
<meta charset="utf-8" />

<!-- Le styles -->
<link href="../../../resources/css/bootstrap-2.3.1.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/font-awesome-3.0.0.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/icon-style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/application.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/bootstrap-responsive-2.3.1.css" rel="stylesheet" type="text/css"/>
</head>

<body>

	<!-- Top Fixed Menu-bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="brand" href="home.html">Jiwhiz Blog</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="../site/home.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="../site/blogs.html"><i class="icon-th-list"></i> Blog</a></li>
						<li><a href="../site/about.html"><i class="icon-info-sign"></i> About</a></li>
						<li><a href="../site/contact.html"><i class="icon-phone"></i> Contact</a></li>
						<li><a href="#"><i class="icon-user"></i> John Doe</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">

		<div class="row">
			<div class="span12" id="content">
				<div class="row">
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- START of the content to be included in the execution result.  -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<div class="span12" tiles:fragment="content">
						<div class="post">
							<h2>Update Blog Post Content:</h2>
		
							<h3>Title: <span th:text="${blogForm.title}"></span></h3>
		
							<!-- Content Input Form -->
							<form action="#" th:action="@{/myPost/updateBlogPostContent}" th:object="${blogForm}" method="POST">
								<input type="hidden" name="_method" value="PUT" />
								<!-- update using PUT method -->
								<input type="hidden" th:field="*{id}" />
								<!-- Content -->
								<div class="control-group" th:classappend="${#fields.hasErrors('content')? 'error' : ''}">
									<label class="control-label">* Content:</label>
									<div class="controls">
										<textarea class="input-xxlarge" th:field="*{content}" rows="20"></textarea>
										<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-error">Incorrect Input</p>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- END of the content to be included in the execution result.    -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
				</div>
			</div>
			<!-- /span12 -->
		</div>
		<!-- /row -->

		<!-- Footer Row -->
		<div class="row">
			<div class="span12">
				<div class="copyright">
					<span>&copy; All right reserved.</span>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../../../resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap-2.3.1.js"></script>

</body>
</html>
