<!DOCTYPE html>
<html>
<body>

	<!-- Head Menu Bar -->
	<div th:fragment="headmenu">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="brand" href="home.html" th:href="@{/}" th:text="#{application_name}">Jiwhiz Blog</a>
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li><a href="home.html" th:href="@{/}"><i class="icon-home"></i> Home</a></li>
							<li><a href="blog.html" th:href="@{/blog}"><i class="icon-th-list"></i> Blog</a></li>
							<li><a href="about.html" th:href="@{/about}"><i class="icon-info-sign"></i> About</a></li>
							<li><a href="contact.html" th:href="@{/contact}"><i class="icon-phone"></i> Contact</a></li>

							<li class="dropdown" sec:authorize="hasRole('ROLE_USER')">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
									<i class="icon-user"></i> <span th:text="${loggedinUserAccount.displayName}">Your Name</span> 
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<!-- My Account Menu -->
									<li><a href="#" th:href="@{/myAccount/}"><i class="icon-wrench"></i> Account</a></li>
									<li><a href="#" th:href="@{/myAccount/myComments}"><i class="icon-wrench"></i> My Comments</a></li>

									<!-- My Post Menu -->
									<li class="divider" sec:authorize="hasRole('ROLE_AUTHOR')"></li>
									<li sec:authorize="hasRole('ROLE_AUTHOR')"><a href="#" th:href="@{/myPost/listBlogPosts}"><i
											class="icon-folder-open-alt"></i> All Posts</a></li>
									<li sec:authorize="hasRole('ROLE_AUTHOR')"><a href="#" th:href="@{/myPost/createBlogPost}"><i
											class="icon-edit"></i> Create Post</a></li>
									<li sec:authorize="hasRole('ROLE_AUTHOR')"><a href="#" th:href="@{/myPost/listSlidePosts}"><i
											class="icon-folder-open-alt"></i> All Slides</a></li>
									<li sec:authorize="hasRole('ROLE_AUTHOR')"><a href="#" th:href="@{/myPost/createSlidePost}"><i
											class="icon-edit"></i> Create Slide</a></li>

									<!-- Admin Menu -->
									<li class="divider" sec:authorize="hasRole('ROLE_ADMIN')"></li>
									<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/admin/listUsers}"><i
											class="icon-group"></i> User List</a></li>
									<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/admin/listComments}"><i
											class="icon-comments-alt"></i> Comment List</a></li>

									<li class="divider"></li>
									<li><a href="#" th:href="@{/signout}"><i class="icon-signout"></i> Sign out</a></li>
								</ul>
							</li>
							<li sec:authorize="!authenticated"><a href="signin.html" th:href="@{/signin}"><i
									class="icon-signin"></i> Sign In</a></li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
	</div>

	<!-- Message Block -->
	<div th:fragment="messageblock">
		<div class="span12">
			<div class="alert message" th:attrappend="class=${' ' + message.cssClass}">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<span th:utext="${message.text}">Message...</span>
			</div>
		</div>
	</div>

	<!-- Right Side Bar -->
	<div th:fragment="rightside">
		<div class="sidebar">
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<h3>Page Visit: </h3>
				<span th:text="${pageVisit}">Unknown</span>
				<hr />
			</div>	
			<h3>Recent Post</h3>
			<ul class="list-sidebar" th:remove="all-but-first">
				<li th:each="blog : ${recentPosts}"><i class="icon-file"></i> <a href="post.html"
					th:href="@{'/post/' + ${blog.fullPublishedPath}}"> <span th:text="${blog.title}">Post#1 Title</span></a></li>
				<li><i class="icon-pencil"></i> <a href="post.html">Post#2 Title</a></li>
				<li><i class="icon-pencil"></i> <a href="post.html">Post#3 Title</a></li>
			</ul>
			<hr />
			<h3>Recent Comments</h3>
			<ul class="list-sidebar" th:remove="all-but-first">
				<li th:each="comment : ${recentComments}"><i class="icon-comment-alt"> </i> <a href="post.html"
					th:href="@{'/profile/' + ${comment.authorAccount.userId}}" th:text="${comment.authorName}">John Doe</a> on <a
					href="display.html" th:href="@{'/post/' + ${comment.blogPost.fullPublishedPath}}"> <span
						th:text="${comment.blogPost.title}">Post#1 Title</span></a></li>
				<li><i class="icon-comment"></i> <a href="userProfile.html">John Doe</a> on <a href="post.html">Post#2</a></li>
				<li><i class="icon-comment"></i> Admin on <a href="#">Post#3</a></li>
			</ul>
			<hr />
			<h3>Tag Cloud</h3>
			<div id="tagcloud">
				<a href="#" th:each="tag : ${tagCloud}" th:rel="${tag.value}" th:text="${tag.key} + ' '" th:href="@{'/blog/tag/' + ${tag.key}}" >tag</a>
				<br/>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:fragment="footer">
		<div class="span12">
			<div class="copyright">
				<span th:text="#{page_footer_copyright}"></span>
				<div class="pull-right">
					<a href="http://twitter.com/jiwhiz" rel="tooltip" title="@jiwhiz" class="sb no-shadow twitter">Twitter</a> <a
						href="http://www.linkedin.com/in/jiwhiz" rel="tooltip" title="ca.linkedin.com/in/jiwhiz/"
						class="sb no-shadow linkedin">LinkedIn</a> <a href="http://gplus.to/jiwhiz" rel="tooltip" title="gplus.to/jiwhiz"
						class="sb no-shadow googleplus">Google+</a> <a href="https://github.com/jiwhiz" rel="tooltip"
						title="github.com/jiwhiz" class="sb no-shadow github">Github</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Pagination Bar -->
	<div th:fragment="paginationbar">
		<div class="pagination pagination-centered">
			<ul>
				<li th:class="${page.firstPage}? 'disabled' : ''">
					<span th:if="${page.firstPage}">&larr; First</span>
					<a th:if="${not page.firstPage}" th:href="@{${page.url}(page.page=1,page.size=${page.size})}">&larr; First</a>
				</li>
				<li th:class="${page.hasPreviousPage}? '' : 'disabled'">
					<span th:if="${not page.hasPreviousPage}">&laquo;</span>
					<a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page.page=${page.number-1},page.size=${page.size})}" title="Go to previous page">&laquo;</a>
				</li>
				<li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
					<span th:if="${item.current}" th:text="${item.number}">1</span>
					<a th:if="${not item.current}" th:href="@{${page.url}(page.page=${item.number},page.size=${page.size})}"><span th:text="${item.number}">1</span></a>
				</li>
				<li th:class="${page.hasNextPage}? '' : 'disabled'">
					<span th:if="${not page.hasNextPage}">&raquo;</span>
					<a th:if="${page.hasNextPage}" th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size})}" title="Go to next page">&raquo;</a>
				</li>
				<li th:class="${page.lastPage}? 'disabled' : ''">
					<span th:if="${page.lastPage}">Last &rarr;</span>
					<a th:if="${not page.lastPage}" th:href="@{${page.url}(page.page=${page.totalPages},page.size=${page.size})}">Last &rarr;</a>
				</li>
			</ul>
		</div>

	</div>
</body>

</html>