.nav,
.pagination,
.carousel,
.panel-title a,
li a {
  cursor: pointer;
}
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
a {
  color: #39831d;
}
a:hover {
  color: #357b1b;
  text-decoration: none;
}
.btn-primary {
  color: white;
  background-color: #39831d;
  border-color: #357b1b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #357b1b;
  border-color: #275a14;
}
.page-titles {
  margin: 30px 30px;
  text-align: center;
}
.page-titles h3 {
  color: #3B3B3B;
  font-weight: lighter;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 5px;
}
.page-titles p {
  color: #888;
  font-size: 18px;
  line-height: 20px;
}
.slogan {
  font-weight: 300;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}
markdown img {
  max-width: 100%;
  height: auto;
}
.pagination-centered {
  text-align: center;
}
pagenation li.active > a,
.pagination li.active > a {
  background: #39831d;
  color: #ffffff;
}
pagenation li.active > a:hover,
.pagination li.active > a:hover {
  background: #357b1b;
  color: #ffffff;
}
.navbar {
  margin-bottom: 20px;
}
.navbar-toggle {
  border-color: #39831d;
}
.navbar-toggle .icon-bar {
  background: #39831d;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand img.logo {
  height: 70px;
}
.headmenu {
  margin: 20px 30px 0 30px;
}
.headmenu a {
  color: #39831d;
}
.headmenu a:hover {
  background: rgba(116, 187, 36, 0.3);
  color: #39831d;
}
.headmenu li.active > a {
  background: #39831d;
  color: #ffffff;
}
.headmenu li.active > a:hover,
.headmenu li.active > a:focus {
  background: #357b1b;
  color: #ffffff;
}
.sidebar {
  width: auto;
  margin: 0 30px 5px 0;
  padding-left: 30px;
  box-shadow: -5px 0 3px -5px #cccccc;
  -moz-box-shadow: -5px 0 3px -5px #cccccc;
  -webkit-box-shadow: -5px 0 3px -5px #cccccc;
  -o-box-shadow: -5px 0 3px -5px #cccccc;
}
.sidebar h2 {
  margin-bottom: 10px;
}
.sidebar h3 {
  margin-bottom: 10px;
}
.sidebar ul,
ol {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 0;
}
.sidebar .control-group {
  margin-bottom: 20px;
}
.sidebar ul li {
  padding: 0px 0 7px 15px;
}
#footer {
  background: #f8f8f8;
  border-top: 1px solid #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  color: #888;
}
.credit-line {
  margin-bottom: 10px;
  padding-left: 30px;
  color: #555;
}
.credit {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
.credit ul,
.credit ol {
  list-style-type: none;
  padding-left: 10px;
}
.credit ul li,
.credit ol li {
  background: url("../images/nav-arrow.png") no-repeat 0 6px;
  padding: 0px 0 7px 15px;
}
.credit ul li a,
.credit ol li a {
  color: #888;
}
.credit ul li a:hover,
.credit ol li a:hover {
  color: #111;
  text-decoration: none;
}
.copyright {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  color: #357b1b;
}
a.social-link {
  color: #357b1b;
  text-decoration: none;
  margin: 0 2px 10px 2px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
}
a.social-link:hover {
  color: rgba(116, 187, 36, 0.3);
  border-color: #357b1b;
}
.post {
  width: auto;
  margin: 0 30px 5px 30px;
}
.post .form-horizontal {
  margin-top: 20px;
}
.post h2 {
  margin-bottom: 5px;
}
.post-content-body {
  margin-top: 10px;
  line-height: 20px;
  text-align: justify;
}
.post-content-meta {
  margin-top: 20px;
  margin-bottom: 20px;
}
.post-footer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.post-tags {
  font-size: 12px;
  margin: 10px 0 10px 0;
}
.post-tags a:hover {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(255, 255, 255, 0.9);
  -o-text-shadow: 0 -1px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(255, 255, 255, 0.9);
  -moz-text-shadow: 0 -1px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(255, 255, 255, 0.9);
  -webkit-text-shadow: 0 -1px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.post-tags .label {
  margin: 3px 3px 3px 3px;
  background: #39831d;
  color: white;
}
.post-tags a:hover .label {
  background: #357b1b !important;
}
.post-author {
  font-size: 12px;
}
img.blog-author-avatar {
  height: 100px;
  width: 100px;
  padding: 1px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.post-date {
  font-size: 12px;
}
.post-comment-count {
  font-size: 12px;
}
/* SINGLE - COMMENT */
.comment {
  width: 100%;
  margin: 0 30px 5px 30px;
}
.comment h3 {
  margin: 20px 0;
}
.avatar {
  margin-left: 10px;
}
.avatar img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}
.comment-name {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.comment-name a:hover {
  color: #08C;
}
.comment-date {
  color: #777;
  font-size: 11px;
  font-weight: lighter;
}
.comment-date p {
  text-align: left;
}
.comment-text {
  text-align: justify;
  width: auto;
  margin-right: 20px;
  margin-left: 10px;
  color: #222;
  font-size: 14px;
  line-height: 20px;
}
.social-button-bar {
  width: auto;
  height: 25;
  margin: 20px 30px 0px 30px;
  vertical-align: bottom;
}
pre {
  width: 400px;
  border-style: none;
  margin: 0;
}
pre.xsmall {
  width: 400px;
}
pre.small {
  width: 600px;
}
pre.medium {
  width: 800px;
}
pre.large {
  width: 1000px;
}
pre.xlarge {
  width: 1200px;
}
pre.xxlarge {
  width: 1400px;
}
.codeblock {
  overflow: auto;
  margin: 20px 0px 20px 00px;
}
.profile-name {
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
}
.img-portrait {
  width: 160px;
  height: 160px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.img-user-list {
  width: 64px;
  height: 64px;
}
.comment-table tbody tr td {
  vertical-align: top;
}
.action-list li {
  list-style-type: none;
  display: inline;
  margin-bottom: 0;
  margin-left: 0;
}
.member-avatar img {
  border: 1px solid #DDDDDD;
  padding: 1px;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
table.member-info {
  margin-top: 5px;
  line-height: 10px;
  clear: none;
}
table.member-info tbody tr td {
  line-height: 15px;
}
img.dashboard-member-activity-avatar {
  height: 50px;
  width: 50px;
  padding: 1px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.manage-data-info {
  margin-bottom: 2px;
}
.manage-data-toolbar {
  cursor: pointer;
  bottom: 5px;
}
td .manage-data-toolbar {
  visibility: hidden;
}
td:hover .manage-data-toolbar {
  visibility: visible;
}
dl .manage-data-toolbar {
  visibility: hidden;
}
dl:hover .manage-data-toolbar {
  visibility: visible;
}
