<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Welcome to JiwhizBlog Demo Website</title>
<meta name="description" content="JiwhizBlog Demo">
<meta name="author" content="Yuan Ji" />
<meta name="keyword" content="Yuan Ji,blog,Edmonton Java Developer,Spring Framework,MongoDB,AngularJS" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- FAVICONS -->
<link rel="shortcut icon" href="images/favicon/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon/favicon.png" type="image/x-icon">

<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="bower_components/highlightjs/styles/default.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) styles/main.css -->
<link rel="stylesheet" href="styles/jiwhizblog-website.css">
<link rel="stylesheet" href="styles/googlecode.css">
<!-- endbuild -->
</head>
<body ng-app="jiwhizWeb" ng-cloak>

	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
		<div style="position: absolute; right: 0; border: 0;">
			<a href="https://github.com/jiwhiz/JiwhizBlogWeb" target="_blank">
				<img src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
			</a>
		</div>

	<div class="container">
	
		<nav class="navbar" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#jiwhiz-navbar-collapse">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img class="logo img-responsive" src="images/logo-150.png"></a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="jiwhiz-navbar-collapse">
					<ul class="nav nav-pills pull-right headmenu">
						<li ng-class="activeMenu.home"><a href="#"><i class="fa fa-home"></i> Home</a></li>
						<li ng-class="activeMenu.blog"><a href="#/blogs"><i class="fa fa-th-list"></i> Blog</a></li>
						<li ng-class="activeMenu.about"><a href="#/about"><i class="fa fa-info"></i> About</a></li>
						<li ng-class="activeMenu.contact"><a href="#/contact"><i class="fa fa-phone"></i> Contact</a></li>
						<li ng-class="activeMenu.admin" class="dropdown" ng-controller="AdminMenuController">
							<a class="dropdown-toggle" href="#"> 
								<i class="fa {{adminMenu.iconClass}}"></i> <span>{{adminMenu.title}}</span> <b class="caret"></b>
							</a>
		
							<ul class="dropdown-menu">
								<li ng-repeat="item in adminMenu.items" class="{{item.dividerClass}}">
									<a ng-show="item.menu" ng-href="{{item.url}}"><i class="fa {{item.iconClass}}"></i>{{item.title}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div> <!-- /.container-fluid -->
		</nav>
		
		<!-- Title Row : used for all public pages except home page -->
        <div class="row" ng-show="showTitle">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-title">
                <hr class="alt" />
                    <div class="page-titles">
                        <h3>{{page_title}}</h3>
                        <p>{{page_description}}</p>
                    </div>
                <hr class="alt" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-9" id="content">
                    	<div ng-view></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="sidebar" ng-controller="SidebarController">
							<h3>Recent Post</h3>
							<ul class="list-sidebar">
								<li ng-repeat="blog in recentBlogs"><i class="fa fa-file-o"></i> 
									<a ng-href="#/blogs/{{blog.id}}"> {{blog.title}}</a></li>
							</ul>
							<hr />
							<h3>Recent Comments</h3>
							<ul class="list-sidebar">
								<li ng-repeat="comment in recentComments"><i class="fa fa-comment-o"></i> 
									<a ng-href="#/profiles/{{comment.author.userId}}">{{comment.author.displayName}}</a> on
									<a ng-href="#/blogs/{{comment.blog.id}}#comments">{{comment.blog.title}}</a></li>
							</ul>
							<hr />
							<h3>Tag Cloud</h3>
							<div>
								<a href="#" ng-repeat="tagCloud in tagClouds" style="font-size: {{tagCloud.fontSize}}}; color: {{tagCloud.color}};">{{tagCloud.tag}} &nbsp;</a>
								<br/>
							</div> 
                        </div><!--/sidebar-->
                    </div>
                </div>
            </div><!--/content-->
        </div><!--/row-->

		<div id="footer" class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="credit-line">
							<h3>Credits</h3>
							<p>Many thanks to these awesome open source projects:</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="credit">
							<ul>
								<li><a href="http://projects.spring.io/spring-framework/" target="_blank">Spring Framework</a></li>
								<li><a href="http://projects.spring.io/spring-security/" target="_blank">Spring Security</a></li>
								<li><a href="http://projects.spring.io/spring-social" target="_blank">Spring Social</a></li>
								<li><a href="http://projects.spring.io/spring-data/" target="_blank">Spring Data</a></li>
								<li><a href="https://github.com/spring-projects/spring-hateoas" target="_blank">Spring HATEOAS</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="credit">
							<ul>
								<li><a href="http://angularjs.org/" target="_blank">AngularJS</a></li>
								<li><a href="https://github.com/LuvDaSun/angular-hal" target="_blank">angular-hal</a></li>
								<li><a href="http://karma-runner.github.io/0.10/index.html" target="_blank">Karma</a></li>
								<li><a href="http://pivotal.github.io/jasmine/" target="_blank">Jasmine</a></li>
								<li><a href="http://angular-ui.github.io/" target="_blank">AngularUI</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="credit">
							<ul>
								<li><a href="http://www.cloudfoundry.org/" target="_blank">Cloud Foundry</a></li>
								<li><a href="http://www.mongodb.org/" target="_blank">MongoDB</a></li>
								<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
								<li><a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">Font Awesome</a></li>
								<li><a href="http://less.github.io/" target="_blank">LESS</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="credit">
							<ul>
								<li><a href="http://maven.apache.org/" target="_blank">Apache Maven</a></li>
								<li><a href="http://www.eclipse.org/" target="_blank">Eclipse</a></li>
								<li><a href="http://gruntjs.com/" target="_blank">Grunt</a></li>
								<li><a href="http://bower.io/" target="_blank">Bower</a></li>
								<li><a href="http://git-scm.com/" target="_blank">Git</a></li>
							</ul>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="copyright">
							<span>&copy; JIWHIZ Consulting Inc. 2012-2014. All rights reserved.</span>
							<div class="pull-right">
								<a href="http://twitter.com/jiwhiz" target="_blank" class="social-link" tooltip="@jiwhiz">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a href="http://www.linkedin.com/in/jiwhiz" target="_blank" class="social-link" tooltip="ca.linkedin.com/in/jiwhiz/">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a href="https://plus.google.com/+YuanJi" target="_blank" class="social-link" tooltip="plus.google.com/+YuanJi">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a href="https://github.com/jiwhiz" target="_blank" class="social-link" tooltip="github.com/jiwhiz">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-github fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</div>
						</div>
						<!-- /row : end of copyright row -->
					</div>
				</div>
				
			</div>
		</div>
		<!-- /footer -->

	</div> <!-- container -->

	<!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/components-underscore/underscore.js"></script>
	<script src="bower_components/highlightjs/highlight.pack.js"></script>
	<!-- endbower -->
	<script src="bower_components/rfc6570/rfc6570.js"></script>
	<script src="bower_components/angular-hal/angular-hal.js"></script>
	<script src="bower_components/marked/lib/marked.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	
	<script src="scripts/utils/CommentUtils.js"></script>
	<script src="scripts/utils/UserUtils.js"></script>
	
	<script src="scripts/dialogs/NameDescInputDialogController.js"></script>
	<script src="scripts/dialogs/NameInputDialogController.js"></script>
	<script src="scripts/dialogs/CommentInputDialogController.js"></script>
	<script src="scripts/dialogs/CommentConfirmationDialogController.js"></script>
	<script src="scripts/dialogs/ContactConfirmationDialogController.js"></script>
	
	<script src="scripts/directives/BlogPostDirective.js"></script>
	<script src="scripts/directives/CategoryTreeDirective.js"></script>
	<script src="scripts/directives/HighlightDirective.js"></script>
	<script src="scripts/directives/MarkdownDirective.js"></script>
	<script src="scripts/directives/MemberInfoDirective.js"></script>
	
	<script src="scripts/filters/CommentCountFilter.js"></script>
	<script src="scripts/filters/ExternalURLFilter.js"></script>
	
	<script src="scripts/public/AccessDeniedController.js"></script>
	<script src="scripts/public/AboutController.js"></script>
	<script src="scripts/public/AdminMenuController.js"></script>
	<script src="scripts/public/BlogDisplayController.js"></script>
	<script src="scripts/public/BlogListController.js"></script>
	<script src="scripts/public/ContactController.js"></script>
	<script src="scripts/public/HomeController.js"></script>
	<script src="scripts/public/NotAuthenticatedController.js"></script>
	<script src="scripts/public/ProfileController.js"></script>
	<script src="scripts/public/ResourceNotFoundController.js"></script>
	<script src="scripts/public/SidebarController.js"></script>
	<script src="scripts/public/WebsiteService.js"></script>
	
	<script src="scripts/myAccount/MyAccountController.js"></script>
	<script src="scripts/myAccount/MyAccountService.js"></script>
	<script src="scripts/myAccount/MyCommentListController.js"></script>
	<script src="scripts/myAccount/MyProfileInputDialogController.js"></script>
	
	<script src="scripts/myPost/AuthorService.js"></script>
	<script src="scripts/myPost/MyBlogCreateController.js"></script>
	<script src="scripts/myPost/MyBlogListController.js"></script>
	<script src="scripts/myPost/MyBlogReviewController.js"></script>
	<script src="scripts/myPost/MyBlogUpdateContentController.js"></script>
	<script src="scripts/myPost/MyBlogUpdateMetaController.js"></script>

	<script src="scripts/admin/AdminService.js"></script>
	<script src="scripts/admin/ManageCommentListController.js"></script>
	<script src="scripts/admin/ManageUserListController.js"></script>
		
	<!-- endbuild -->
	
</body>
</html>
