<!--
	Edit comment. 
-->
<div class="post">
	<h2>Update Comment Post:</h2>
	
	<!-- Comment Input Form -->
	<form>
		<!-- Content -->
		<div class="control-group">
			<label class="control-label">* Content:</label>
			<div class="controls">
				<textarea ng-model="commentForm.content" class="input-xxlarge" rows="10" required="required"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button ng-click="cancel()" class="btn">Cancel</button>
				<button ng-click="submit()" class="btn btn-primary">Save</button>
			</div>
		</div>
	</form>
</div>
