
<ul class="nav nav-list nav-pills nav-stacked abn-tree">
  <li ng-repeat="row in tree_rows | filter:{visible:true}" ng-animate="'abn-tree-animate'" ng-class="'level-' + {{ row.level }}" class="abn-tree-row">
    
    <a ng-show="row.activity == null" ng-click="clickCategory(row.category)" >
      <i ng-class="row.tree_icon" ng-click="row.category.expanded = !row.category.expanded" class="indented"> </i>
      <span class="indented tree-label" ng-class="(row.category.selected ? 'active':'')">{{ row.label }}</span>
    </a>
    <a ng-show="row.activity != null" ng-click="clickActivity(row.activity)" >
      <i ng-class="row.tree_icon" class="indented"> </i>
      <span class="indented tree-label" ng-class="(row.activity.selected ? 'active':'')">{{ row.label }}</span>
    </a>

  </li>
</ul>