<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>

<title>Welcome to Jiwhiz Blog Website</title>
<meta charset="utf-8" />

<!-- Le styles -->
<link href="../../../resources/css/bootstrap-2.3.1.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/font-awesome-3.0.0.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/icon-style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/application.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/bootstrap-responsive-2.3.1.css" rel="stylesheet" type="text/css"/>

</head>

<body>

	<!-- Top Fixed Menu-bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="brand" href="home.html">Jiwhiz Blog</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="home.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="blogs.html"><i class="icon-th-list"></i> Blog</a></li>
						<li><a href="about.html"><i class="icon-info-sign"></i> About</a></li>
						<li class="active"><a href="contact.html"><i class="icon-phone"></i> Contact</a></li>
						<li><a href="signin.html"><i class="icon-signin"></i> Sign In</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
	
		<!-- Title Row -->
		<div class="row" tiles:fragment="title">
			<div class="span12 page-title">
				<hr class="alt" />
				<div class="page-titles">
					<h3>Contact Us</h3>
					<p>We should get together and talk!</p>
				</div>
				<hr class="alt" />
			</div>
		</div>

		<!-- Main Content Row -->
		<div class="row">
			<div class="span12" id="content">
				<div class="row">
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- START of the content to be included in the execution result.  -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<div class="span9" tiles:fragment="content">
						<div class="row">
							<div class="span9">
							<div class="post">
								<iframe width="650" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
									src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Edmonton,+AB&amp;aq=0&amp;oq=edmont&amp;sll=53.516644,-113.430012&amp;sspn=0.262927,0.703812&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Edmonton,+Division+No.+11,+Alberta&amp;ll=54.521081,-113.115234&amp;spn=16.47882,45.043945&amp;z=5&amp;iwloc=A&amp;output=embed"></iframe>
								<h2>Where I am</h2>
								<p>I live in Edmonton, Alberta, Canada.</p>
								<p>Please send me a message if you want to contact me.</p>
								<br/>
								<form action="#" th:action="@{/contact}" th:object="${contactForm}" method="post">
									<label class="control-label">Your Name *</label>
									<input type="text" th:field="*{name}" class="input-xxlarge" required="required"/>
									<label class="control-label">Email Address *</label>
									<input type="email" th:field="*{email}" class="input-xxlarge" required="required"/>
									<label class="control-label">Message *</label>
									<textarea th:field="*{message}" class="input-xxlarge"  rows="5" style="resize: none;"></textarea>
									<br />
									<input type="submit" name="submit" value="Submit" class="btn btn-primary" />
								</form>
							</div>
							</div>
						</div> <!-- end row -->

					</div>
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- END of the content to be included in the execution result -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

					<!-- Side bar at right -->
					<div class="span3">
						Side bar
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /span12 : end of main content -->
		</div>
		<!-- /row -->

		<!-- Footer Row -->
		<div class="row">
			<div class="span12">
				<div class="copyright">
					<span>&copy; All right reserved.</span>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../../../resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap-2.3.1.js"></script>

</body>

</html>
