<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>

<title>Welcome to Jiwhiz Blog Website</title>
<meta charset="utf-8" />

<!-- Le styles -->
<link href="../../../resources/css/bootstrap-2.3.1.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/font-awesome-3.0.0.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/icon-style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/application.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/bootstrap-responsive-2.3.1.css" rel="stylesheet" type="text/css"/>

</head>

<body>
	<!-- Top Fixed Menu-bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="brand" href="home.html">Jiwhiz Blog</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="active"><a href="home.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="blogs.html"><i class="icon-th-list"></i> Blog</a></li>
						<li><a href="about.html"><i class="icon-info-sign"></i> About</a></li>
						<li><a href="contact.html"><i class="icon-phone"></i> Contact</a></li>
						<li><a href="signin.html"><i class="icon-signin"></i> Sign In</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

    <div class="container">

		<!-- Title Row -->
		<div class="row" tiles:fragment="title">
			<div class="hero-unit">
				<h1>Hello, world!</h1>
				<p>This is a demo website build by <a href="https://github.com/jiwhiz/JiwhizBlogWeb">Jiwhiz Blog Web Application</a></p>
				<p>
					<a href="about.html" th:href="@{/about}" class="btn btn-primary">Learn more &raquo;</a>
				</p>
			</div>
		</div>

		<!-- Main Content Row -->
		<div class="row">
			<div class="span12" id="content">
				<div class="row">
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- START of the content to be included in the execution result.  -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<div class="span9" tiles:fragment="content">
					
						<!-- Main Content Row for latest blog -->
						<div class="row post" th:if="${latestBlog ne null}">
							<div class="post-content-meta">
								<h4>
									<span th:text="${latestBlog.publishedDateString}">22 October, 2012</span>
								</h4>
								<h2>
									<a href="post.html" th:href="@{'/post/' + ${latestBlog.fullPublishedPath}}"><span
										th:text="${latestBlog.title}">Most Recent Blog Title</span></a>
								</h2>
								<p>
									Published by <strong><a href="#" th:href="@{'/profile/' + ${latestBlog.authorId}}" 
											th:text="${latestBlog.authorName}">John Doe</a>  </strong> 
									on <span th:text="${latestBlog.publishedDateString}">22 October, 2012</span>
									at <span th:text="${latestBlog.publishedTimeString}">4:52:48 AM</span> 
									| <span class="post-comment-count"> 
										<a href="display.html#comments" th:href="@{'/post/' + ${latestBlog.fullPublishedPath} + '#comments'}" >
										<i class="icon-comments"></i> 
										<span th:text="${latestBlog.commentCount}">3</span> Comments
										</a>
									</span>
								</p>
							</div>
							<div class="post-content-body">
								<span th:utext="${latestBlog.content}">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur dui eu quam imperdiet
										elementum. Vivamus viverra, ante sed cursus ullamcorper, sem eros molestie leo, vitae suscipit ipsum est sed
										elit. Donec elementum, magna non scelerisque dignissim, est dui semper lorem, vitae aliquet libero augue in
										diam. Nullam bibendum facilisis tincidunt. Aenean condimentum imperdiet enim, ac tincidunt tortor lobortis
										posuere. Phasellus vel purus diam, sed sollicitudin purus. In ut ligula vitae libero auctor placerat. Integer
										pulvinar fringilla tellus, a egestas lacus malesuada in. Proin vestibulum, augue a interdum mattis, dui dui
										porttitor felis, vitae placerat erat ante ut eros. <a href="single.html">Read more &raquo;</a>
								</span>
							</div>
							<div class="post-footer">
								<div class="post-tags">
									<span th:each="tag : ${latestBlog.tags}"><a href="#"><span class="label label-info"
											th:text="${tag}">Java</span></a> </span>
								</div>
								<p>
									Published by <strong><a href="userProfile.html" th:href="@{'/profile/' + ${latestBlog.authorId}}" 
											th:text="${latestBlog.authorName}">John Doe</a>  </strong> 
									on <span th:text="${latestBlog.publishedDateString}">22 October, 2012</span>
									at <span th:text="${latestBlog.publishedTimeString}">4:52:48 AM</span> 
									| <span class="post-comment-count"> 
										<a href="post.html#comments" th:href="@{'/post/' + ${latestBlog.fullPublishedPath} + '#comments'}" >
											<i class="icon-comments"></i> 
											<span th:text="${latestBlog.commentCount}">3</span> Comments
										</a>
									</span>
								</p>

							</div>
						</div> <!-- /row : blog post content row -->
						
					</div>
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- END of the content to be included in the execution result -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

					<!-- Side bar at right -->
					<div class="span3">
						Side bar
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /span12 : end of main content -->
		</div>
		<!-- /row -->

		<!-- Footer Row -->
		<div class="row">
			<div class="span12">
				<div class="copyright">
					<span>&copy; All right reserved.</span>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->
	
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../../../resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap-2.3.1.js"></script>
	

</body>

</html>
