<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>

<title>Welcome to Jiwhiz Blog Website</title>
<meta charset="utf-8" />

<!-- Le styles -->
<link href="../../../resources/css/bootstrap-2.3.1.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/font-awesome-3.0.0.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/icon-style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/application.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/bootstrap-responsive-2.3.1.css" rel="stylesheet" type="text/css"/>

</head>

<body>

	<!-- Top Fixed Menu-bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="brand" href="home.html">Jiwhiz Blog</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="home.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="blogs.html"><i class="icon-th-list"></i> Blog</a></li>
						<li><a href="about.html"><i class="icon-info-sign"></i> About</a></li>
						<li><a href="contact.html"><i class="icon-phone"></i> Contact</a></li>
						<li class="active"><a href="signin.html"><i class="icon-signin"></i> Sign In</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container wrapper">


		<!-- Title Row -->
		<div class="row" tiles:fragment="title">
		</div>
		
		<!-- Main Content Row -->
		<div class="row">
			<div class="span12" id="content">
				<div class="row">
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- START of the content to be included in the execution result.  -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<div class="span9" tiles:fragment="content">
						<div class="content-area">
							<p>Please login with your Google, Twitter or Facebook account:</p>
							<form action="userProfile.html" th:action="@{'/signin/google'}" method="POST">
								<input type="hidden" name="_spring_security_remember_me" value="true" />
								<button type="submit" class="btn btn-large icon-google-plus">  Sign in with Google</button>
							</form>
							
							<form action="#" th:action="@{'/signin/twitter'}" method="POST">
								<button type="submit" class="btn btn-large icon-twitter">  Sign in with Twitter</button>
							</form>
							<form action="#" th:action="@{'/signin/facebook'}" method="POST">
								<button type="submit" class="btn btn-large icon-facebook">  Sign in with Facebook</button>
							</form>
						</div>
					</div>
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- END of the content to be included in the execution result -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

					<!-- Side bar at right -->
					<div class="span3">
						Side bar
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /span12 : end of main content -->
		</div>
		<!-- /row -->

		<!-- Footer Row -->
		<div class="row">
			<div class="span12">
				<div class="copyright">
					<span>&copy; All right reserved.</span>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../../../resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap-2.3.1.js"></script>

</body>

</html>
