<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
<title>Welcome to Jiwhiz Blog Website</title>
<meta charset="utf-8" />

<!-- Le styles -->
<link href="../../../resources/css/bootstrap-2.3.1.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/font-awesome-3.0.0.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/icon-style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/application.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/bootstrap-responsive-2.3.1.css" rel="stylesheet" type="text/css"/>
</head>

<body>

	<!-- Top Fixed Menu-bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="brand" href="home.html">Jiwhiz Blog</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="../site/home.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="../site/blogs.html"><i class="icon-th-list"></i> Blog</a></li>
						<li><a href="../site/about.html"><i class="icon-info-sign"></i> About</a></li>
						<li><a href="../site/contact.html"><i class="icon-phone"></i> Contact</a></li>
						<li><a href="#"><i class="icon-user"></i> John Doe</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">

		<div class="row">
			<div class="span12" id="content">
				<div class="row">
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- START of the content to be included in the execution result.  -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<div class="span12" tiles:fragment="content">
						<div class="content-area">
							<h2>List My Comments:</h2>
							
							<!-- Pagination -->
							<div th:include="sharedLayout::paginationbar">Pagination</div>
							
							<table class="table table-striped table-bordered bootstrap-datatable">
								<thead>
									<tr>
										<th>In Response To</th>
										<th>Comment Text</th>
										<th>Display Review</th>
									</tr>
								</thead>

								<tbody th:remove="all-but-first">
									<tr th:each="comment : ${page.content}">
										<!-- Blog Post -->
										<td><a th:href="@{'/post/' + ${comment.blogPost.fullPublishedPath}}"> <span
												th:text="${comment.blogPost.title}">Title</span></a></td>

										<!-- Comment -->
										<td>
											<div class="manage-data-info text-info">
												Posted on <span th:text="${comment.createdDateTimeString}">2012-12-12</span> | 
												<span th:if="${comment.published}" class="text-success"><i class="icon-ok" title="Approved"></i> Published</span>
												<span th:if="${!comment.published and !comment.spam}" class="text-warning"><i class="icon-spinner icon-spin" title="Pending"></i> Waiting for approval</span>
												<span th:if="${comment.spam}" class="text-error"><i class="icon-ban-circle" title="Spam"></i> Marked as spam</span>
											</div>
											<div> <p><span th:text="${comment.content}">Content</span></p></div>
											<div class="manage-data-toolbar">
												<a href="#" th:href="@{'/myAccount/updateComment/' + ${comment.id}}"><i class="icon-pencil" title="Edit"></i> Edit</a>
											</div>
										</td>
										
										<!-- Display Review -->
										<td>
											<div> <p><span th:utext="${comment.htmlContent}">Content</span></p></div>
										</td>

									</tr>
								</tbody>
							</table>
							
							<!-- Pagination -->
							<div th:include="sharedLayout::paginationbar">Pagination</div>
						</div>
					</div>
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- END of the content to be included in the execution result.    -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
				</div>
				<!-- end row -->
			</div>
			<!-- /span12 -->
		</div>
		<!-- /row -->

		<!-- Footer Row -->
		<div class="row">
			<div class="span12">
				<div class="copyright">
					<span>&copy; All right reserved.</span>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../../../resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap-2.3.1.js"></script>

</body>
</html>
