<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
<title>Welcome to Jiwhiz Blog Website</title>
<meta charset="utf-8" />

<!-- Le styles -->
<link href="../../../resources/css/bootstrap-2.3.1.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/font-awesome-3.0.0.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/icon-style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/application.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/css/bootstrap-responsive-2.3.1.css" rel="stylesheet" type="text/css"/>
</head>

<body>

	<!-- Top Fixed Menu-bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="brand" href="home.html">Jiwhiz Blog</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="../site/home.html"><i class="icon-home"></i> Home</a></li>
						<li><a href="../site/blogs.html"><i class="icon-th-list"></i> Blog</a></li>
						<li><a href="../site/about.html"><i class="icon-info-sign"></i> About</a></li>
						<li><a href="../site/contact.html"><i class="icon-phone"></i> Contact</a></li>
						<li><a href="#"><i class="icon-user"></i> John Doe</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">

		<div class="row">
			<div class="span12" id="content">
				<div class="row">
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- START of the content to be included in the execution result.  -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<div class="span12" tiles:fragment="content">
						<div class="content-area">
							<div class="container-fluid">
								<div class="row-fluid">
									<h2>My Account</h2>
									<div class="span4">
										<img th:if="${!userAccount.hasImageUrl}" src="../../resources/img/gravatar.jpg"
											th:src="@{/resources/img/gravatar.jpg}" class="img img-portrait" />
										<img th:if="${userAccount.hasImageUrl}" th:src="${userAccount.imageUrl}" class="img img-portrait" />
										<br/>
										<span th:if="${userAccount.admin}" class="badge badge-important">ADMIN</span>
										<span th:if="${userAccount.author}" class="badge badge-info">AUTHOR</span>
										<span th:if="${userAccount.trustedAccount}" class="label label-success">Trusted</span>
										<span th:if="${userAccount.accountLocked}" class="label label-warning">Locked</span>
									</div>
									<div class="span5">
										<dl class="dl-horizontal">
											<dt>Display Name:</dt>
											<dd>
												<span th:text="${userAccount.displayName}">User Display Name</span>
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>Email Address:</dt>
											<dd>
												<span th:text="${userAccount.email}">Email</span>
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>Web Site:</dt>
											<dd>
												<span th:text="${userAccount.webSite}">Web Site Address</span>
											</dd>
										</dl>
										<dl sec:authorize="hasRole('ROLE_ADMIN')" class="dl-horizontal">
											<dt>Image URL:</dt>
											<dd>
												<span th:text="${userAccount.imageUrl}">Image URL Address</span>
											</dd>
										</dl>
										<p>
											<a href="editProfile.html" th:href="@{/myAccount/editProfile}" class="btn btn-primary">Edit</a>
										</p>

									</div>

								</div>
								<!-- /row : My Account -->
								<hr />

								<div class="row-fluid">
									<h2>My Social Connections</h2>
								</div>
								<div class="alert alert-error" th:if="${duplicateConnectionError}">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
										<p>You have other account that already connected to it!</p>
										<p>Please <a href="#" th:href="@{/signout}"><i class="icon-signout"></i> Sign out</a> and sign in again with other social account.</p>
								</div>
								
								<table class="table table-striped table-bordered bootstrap-datatable">
									<tbody>
										<tr>
											<!-- Google+ -->
											<td><a rel="tooltip" title="Google+" class="sb no-shadow googleplus">Google+</a></td>
											<td>
												<div th:if="${!userAccount.hasGoogleConnection}">
													<form th:action="@{'/connect/google'}" method="POST">
														<input type="hidden" name="scope" value="https://www.googleapis.com/auth/userinfo.profile" />
														<button type="submit" class="btn"><i class="icon-google-plus"></i> Connect with Google</button>
													</form>
												</div>
												<div th:if="${userAccount.hasGoogleConnection}">
													<img th:src="${userAccount.googleConnection.imageUrl}" class="img dashboard-member-activity-avatar" />
													<a th:href="${userAccount.googleConnection.profileUrl}" th:text="${userAccount.googleConnection.displayName}">Display Name</a>
													<div class="comment-toolbar">
														<a href="#" th:href="@{'/myAccount/useGoogleImage/'}">
														<i class="icon-google-plus-sign" title="Use Image"></i> Use Google+ Image</a>
													</div>
												</div>
												
											</td>
										</tr>
										<tr>
											<!-- Twitter -->
											<td><a rel="tooltip" title="Twitter" class="sb no-shadow twitter">Twitter</a></td>
											<td>
												<div th:if="${!userAccount.hasTwitterConnection}">
													<form th:action="@{'/connect/twitter'}" method="POST">
														<button type="submit" class="btn"><i class="icon-twitter"></i> Connect with Twitter</button>
													</form>
												</div>
												<div th:if="${userAccount.hasTwitterConnection}">
													<img th:src="${userAccount.twitterConnection.imageUrl}" class="img dashboard-member-activity-avatar" />
													<a th:href="${userAccount.twitterConnection.profileUrl}" th:text="${userAccount.twitterConnection.displayName}">Display Name</a>
													<div class="comment-toolbar">
														<a href="#" th:href="@{'/myAccount/useTwitterImage/'}">
														<i class="icon-twitter-sign" title="Use Image"></i> Use Twitter Image</a>
													</div>
												</div>
											</td>
										</tr>
  										<tr>
											<!-- Facebook -->
											<td><a rel="tooltip" title="Facebook" class="sb no-shadow facebook">Facebook</a></td>
											<td>
												<div th:if="${!userAccount.hasFacebookConnection}">
													<form th:action="@{'/connect/facebook'}" method="POST">
														<button type="submit" class="btn"><i class="icon-facebook"></i> Connect with Facebook</button>
													</form>
												</div>
												<div th:if="${userAccount.hasFacebookConnection}">
													<img th:src="${userAccount.facebookConnection.imageUrl}" class="img dashboard-member-activity-avatar" />
													<a th:href="${userAccount.facebookConnection.profileUrl}" th:text="${userAccount.facebookConnection.displayName}">Display Name</a>
													<div th:if="${userAccount.hasFacebookConnection}" class="comment-toolbar">
														<a href="#" th:href="@{'/myAccount/useFacebookImage/'}">
														<i class="icon-facebook-sign" title="Use Image"></i> Use Facebook Image</a>
													</div>
												</div>
												
											</td>
										</tr>
  									</tbody>
								</table>
							</div>

						</div>
					</div>
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- END of the content to be included in the execution result.    -->
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
				</div>
			</div>
			<!-- /span12 -->
		</div>
		<!-- /row -->

		<!-- Footer Row -->
		<div class="row">
			<div class="span12">
				<div class="copyright">
					<span>&copy; All right reserved.</span>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../../../resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap-2.3.1.js"></script>

</body>
</html>
