<!--
	About page content. 
-->
<div class="row">
	<div class="col-xs-12">
		<div class="post">
			<h2>Who I am</h2>
			<p>Here is the introduction...</p>
			<p>This is a simple blog website I build with all open source projects, to experience the Java architecture
				design for Web and mobile applications. The whole system is built upon 
				<a href="http://projects.spring.io/spring-framework/" target="_blank">Spring Framework</a>,
				<a href="http://projects.spring.io/spring-security/" target="_blank">Spring Security</a>, 
				<a href="http://projects.spring.io/spring-social" target="_blank">Spring Social</a>, 
				<a href="http://projects.spring.io/spring-data/" target="_blank">Spring Data</a>, 
				and some other open source projects for front end Web UI, like
				<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, 
				<a href="http://angularjs.org/" target="_blank">AngularJS</a> etc. All data is stored in a NoSQL database - 
				<a href="http://www.mongodb.org/" target="_blank">MongoDB</a>. The Web application is deployed to 
				<a href="http://www.cloudfoundry.com/">Cloud Foundry</a> (Running at 
				<a href="http://run.pivotal.io/">Pivotal Web Services</a>), an open source PAAS
				cloud platform.</p>
		</div>
	</div>
</div>
<!-- /row -->
						

