<!--
	Display one public blog post. 
-->
<div class="post" ng-show="blog != null">

	<div class="post-content-meta">
		<h4>
			{{blog.publishedTime | date:'mediumDate'}} 
		</h4>
		<h2>
			<a ng-href="#/blogs/{{blog.id}}">{{blog.title}}</a> 
		</h2>
		
		<p>
			<img ng-src="{{blog.author.imageUrl}}" class="blog-author-avatar">
			Published by <strong><a ng-href="#/profiles/{{blog.author.userId}}">{{blog.author.displayName}}</a></strong> 
			on {{blog.publishedTime | date:'mediumDate'}} at {{blog.publishedTime | date:'mediumTime'}}
			| <span class="post-comment-count"> 
				<a ng-href="#/blogs/{{blog.id}}#comments">
					<i class="icon-comments"></i> {{blog.comments.length | CommentCount}}</a>
			  </span>
		</p>
	</div>
	
	<div class="post-content-body"> 
		<blog-post content="{{blog.content}}"></blog-post>
	</div>
	
	<div class="post-footer">
		<div class="post-tags">
			<span ng-repeat="tag in blog.tags">
				<a href="#"><span class="label">{{tag}}</span></a>
			</span>
		</div>
		<p>
			Published by <strong><a ng-href="#/profiles/{{blog.author.userId}}">{{blog.author.displayName}}</a></strong> 
			on {{blog.publishedTime | date:'mediumDate'}} at {{blog.publishedTime | date:'mediumTime'}}
			| <span class="post-comment-count"> 
				<a ng-href="#/blogs/{{blog.id}}#comments">
					<i class="icon-comments"></i> {{blog.comments.length | CommentCount}}</a>
			  </span>
		</p>
	</div>

</div>

<div class="comment" ng-show="blog.comments.length == 0">
	No comment yet.
</div>
<!-- Comment List -->
<div class="comment" ng-show="blog.comments.length > 0">
	<a id="comments"></a><!-- anchor for blog comments link -->
	<h3>There are {{blog.comments.length | CommentCount}} on this blog post:</h3>
	
	<div class="pagination-centered">
		<pagination total-items="page.totalElements" page="page.currentPage" items-per-page="page.size" on-select-page="selectCommentPage(page)"></pagination>
	</div>
	
	<div ng-show="blog.comments.length > 0">
		<div ng-repeat="comment in blog.comments">
			<a id="{{comment.id}}"></a>
			<div class="avatar">
				<img ng-src="{{ (comment.author.imageUrl == null) ? 'images/gravatar.jpg' : comment.author.imageUrl}}" />
				<span class="comment-name">
					<a ng-href="#/profiles/{{comment.author.userId}}">{{comment.author.displayName}}</a>
				</span>
				<span class="comment-date">
					posted on {{comment.createdTime | date:'mediumDate'}} at {{comment.createdTime | date:'mediumTime'}}
				</span>
			</div>
			<br/>
			<div class="comment-text">
				<markdown content="{{comment.content}}"></markdown>
			</div>
			<hr class="alt" />
		</div>
	</div>
	
	<div class="pagination-centered">
		<pagination total-items="page.totalElements" page="page.currentPage" items-per-page="page.size" on-select-page="selectCommentPage(page)"></pagination>
	</div>
	
</div>

<!-- Post Comment Form -->
<div class="comment" ng-show="authenticated">
	<h3 class="marg20-btm">Post Comment</h3>
	<form class="form-horizontal">
	<div class="form-group">
		<div class="avatar">
			<img ng-src="{{ (currentUser.imageUrl == null)? 'images/gravatar.jpg' : currentUser.imageUrl}}" />
		</div>
		<textarea ng-model="commentForm.content" rows="5" class="col-md-10"
				placeholder="Enter your comment here as {{currentUser.displayName}}..." required="required"></textarea>
	</div>
		<span class="help-block">You can use 
			<a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown syntax</a>
			in your comment.<br/> For example, 
			<code>[an example](http://example.com/ "Title")</code> will generate an inline link.
		</span>
		<br />
		<button ng-click="postComment()" class="btn btn-primary">Post Comment</button>
	</form>	
	
</div>

<!-- Message if not logged in -->
<div class="post" ng-show="!authenticated">
	<div class="text-warning">
		You must
		<div class="btn-group">
			<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
				sign in
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<!-- dropdown menu links -->
				<li><a href="signin/google?scope=openid%20profile">
					<i class="fa fa-google-plus"></i> Google Sign In</a></li>
				<li><a href="signin/facebook"><i class="fa fa-facebook"></i> Facebook Sign In</a></li>
				<li><a href="signin/twitter"><i class="fa fa-twitter"></i> Twitter Sign In</a></li>
			</ul>
		</div>
		to post your comment.
	</div>
</div>
