<!-- 
	401 Unauthorized
-->
<div class="row">
	<div class="col-xs-9">
		<div class="post">
			<h2>You are trying to access member only resource.</h2>
			Please
				<div class="btn-group">
					<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
						sign in
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- dropdown menu links -->
						<li><a href="signin/google?scope=https://www.googleapis.com/auth/userinfo.profile"><i class="fa fa-google-plus"></i> Google Sign In</a></li>
						<li><a href="signin/facebook"><i class="fa fa-facebook"></i> Facebook Sign In</a></li>
						<li><a href="signin/twitter"><i class="fa fa-twitter"></i> Twitter Sign In</a></li>
					</ul>
				</div>
			to continue.
		</div>
	</div>
</div>
