<!-- 
	User Profile page content 
-->
<div class="content-area">
	<!-- Profile Row -->
	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-9 col-sm-4">
					<div class="center">
						<img class="img img-portrait" ng-src="{{profile.imageUrl}}"/>
					</div>
				</div>
				<div class="col-xs-9 col-sm-5">
					<div class="row">
						<div class="profile-name">
							<span ng-cloak>{{profile.displayName}}</span>
						</div>
						<span ng-show="profile.admin" class="label label-info">Admin</span>
						<span ng-show="profile.author" class="label label-info">Author</span>
						<span class="label label-info">User</span>
						<hr />
					</div>
					<div class="row">
						<div class="profile-website">
							<a ng-href="{{profile.webSite | ExternalURL}}" target="_blank">{{profile.webSite}}</a>
						</div>
						<hr />
						<span ng-show="profile.socialConnections['google']"> 
							<a ng-href="{{profile.socialConnections['google'].profileUrl | ExternalURL}}}}"
								rel="tooltip" title="{{profile.socialConnections['google'].displayName}}"
								class="sb no-shadow googleplus" target="_blank">Google+</a>
						</span> 
						<span ng-show="profile.socialConnections['facebook']"> 
							<a ng-href="{{profile.socialConnections['facebook'].profileUrl | ExternalURL}}"
								rel="tooltip" title="{{profile.socialConnections['facebook'].displayName}}"
								class="sb no-shadow facebook" target="_blank">Facebook</a>
						</span>
						<span ng-show="profile.socialConnections['twitter']"> 
							<a ng-href="{{profile.socialConnections['twitter'].profileUrl | ExternalURL}}"
								rel="tooltip" title="{{profile.socialConnections['twitter'].displayName}}"
								class="sb no-shadow facebook" target="_blank">Twitter</a>
						</span>

					</div>
				</div>
			</div>
		</div>

	</div>
	<hr />

	<!-- Comment List -->
	<h2>Published Comments:</h2>
	<div class="row">
	
		<div class="pagination-centered">
			<pagination total-items="page.totalElements" page="page.currentPage" items-per-page="page.size" on-select-page="selectCommentPage(page)"></pagination>
		</div>
	
		<div ng-repeat="comment in profile.comments">
			<div class="comment-info">
				On {{comment.createdTime | date:'mediumDate'}} at {{comment.createdTime | date:'mediumTime'}}
				<b>{{profile.displayName}}</b> posted a comment in 
				<a href="#/blogs/{{comment.blog.id}}#{{comment.commentId}}">{{comment.blog.title}}</a>
			</div>
			<br/>
			<div class="comment-text">
				<markdown content="{{comment.content}}"></markdown>
			</div>
			<hr />
		</div>
		
		<div class="pagination-centered">
			<pagination total-items="page.totalElements" page="page.currentPage" items-per-page="page.size" on-select-page="selectCommentPage(page)"></pagination>
		</div>
		
	</div>
	<!-- end row -->
</div>