<!--
	List all public blog posts.
	TODO add pagination. 
-->
<div class="row" ng-repeat="blog in blogs">
	<div class="span9">
		<div class="post">
			<hr class="alt" />
			<div class="post-content-meta">
				<h4>{{blog.publishedTime | date:'mediumDate'}}</h4>
				<h2 class="post-title">
					<a href="#/blog/{{blog.fullPublishedPath}}">{{blog.title}}</a>
				</h2>
				<p>
					Published by <strong><a href="#/profile/{{blog.author.userId}}">{{blog.author.displayName}}</a></strong> 
					on {{blog.publishedTime | date:'mediumDate'}} at {{blog.publishedTime | date:'mediumTime'}}
					| <span class="post-comment-count"> 
						<a href="#/blog/{{blog.fullPublishedPath}}#comments">
							<i class="icon-comments"></i> {{blog.approvedCommentCount | CommentCount}}</a>
					  </span>
				</p>
			</div>
			<div>
				<div class="post-content-body" ng-bind-html-unsafe="blog.contentFirstParagraph"></div>
				<br /> <strong><a href="#/blog/{{blog.fullPublishedPath}}">Read more &raquo;</a></strong>
			</div>
			<div class="post-footer">
				<div class="post-tags">
					<span ng-repeat="tag in blog.tags"><a href="#"><span class="label label-info">{{tag}}</span></a> </span>
				</div>
			</div>
		</div>
	</div>
	<hr />
</div>

